@{
    ViewBag.Title = "Students Who Viewed Announcement";
}

@if (ViewBag.WordDocumentMode == null || !ViewBag.WordDocumentMode)
{
    <h2>@ViewBag.Title.</h2>
    <h2>@ViewBag.AnnTitle.</h2>
}

<ul>
@try
{
    for (int i = 0; i < ViewBag.Viewed.Count; i++)
    {
        <li>@ViewBag.Viewed.ElementAt(i)</li>
    }
}
catch
{
    <li>No students have viewed this announcement.</li>
}
</ul>


