@model IEnumerable<AnnApp.Models.Comment>

<div class="commentsTableRegister">
    <h3>@Html.Encode("Comments")</h3>
    <ul>
            @try
            {
                foreach (var item in Model)
                {
                    <li>@item.comment.ToString()</li>
                }
            }
            catch
            {
                <li>@Html.Encode("No comments yet.")</li>
            }
    </ul>
</div>
