@model IEnumerable<AnnApp.Models.ApplicationUser>

<h4>@Html.Encode("Have NOT Viewed Announcement: ")</h4>
<ul>
    @try
    {
            foreach (var item in Model)
            {
                <li>@item.UserName</li>
            }
    }
    catch
    {
        <li>@Html.Encode("Everyone has viewed this announcement.")</li>
    }
</ul>
